body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    margin-top: -20px;
}
.header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    width: 100%; 
    position: fixed; 
    top: 0;
    z-index: 1000; 
}
a{
    color: rgb(255, 255, 255);
    margin: 10px;
}
h1{
   justify-content: center;
   text-align: center;
   font-size: 40px;
   color:white;
}
h2{
    font-size: 25px;
    justify-content: first baseline;
    color: aliceblue;
    margin: 20px;
}
article{
    margin-left: 70px;
    margin-right: 70px;
}
p{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.alinhaimg{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}
